<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="pageCss">
  <link rel="stylesheet" th:href="@{/css/test.css}" >
</th:block>

<div layout:fragment="content">
  <h1>content123</h1>
</div>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="pageScript">
  <script th:src="@{/js/page/home.js}"></script>
  <script>
    function tttt(){
      console.log('~~~~~~~~~~~~~~~');
    }

  </script>
</th:block>


</html>